body,
html {
  height: 100%;
}
.navbar-brand {
  padding-left: 50px;
}

@media (min-width: 900px) {
  .card {
    width: 16rem;
  }
}

.nav-item a {
  text-transform: uppercase;
  /* color: grey !important; */
  font: "Roboto";
  font-size: 15px;
  letter-spacing: 1, 5px;
  text-decoration: none;
  outline: none;
  margin: 0 34px;
  cursor: pointer;
}

.nav-item a:hover,
.nav-item a:active {
  text-decoration: underline;
  font-weight: bold;
}

.box-title-content {
  margin: -1.5rem auto 5rem auto;
  padding: 1rem;
  width: 600px;
  text-align: center;
  background-color: transparent;
  border: 2px solid black;
  color: white;

  /* margin: 10px -15px -15px; */
}

/* coba */
.container-fluid {
  position: relative;
  width: 30%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to bottom right, transparent, black);
  /* background-color:  grey !important; */
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.container-fluid:hover .overlay {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (min-width: 900px) {
  .list-produk {
    width: 16rem;
  }
}
